/* baseline-status {
    --baseline-status-color-limited: light-dark(#0027ea, #330966);
    --baseline-status-color-outline: light-dark(#e71111, #4b0707);
    
} */

/* @view-transition {
    navigation: auto;
} */

#transition {
  view-transition-name: exemple;
}

h1{
  width: fit-content;
}

a{
  text-decoration: none;
  color: black;
}

/* Apply the custom animation to the old and new page states */
::view-transition-old(exemple) {
animation: 0.4s ease-in both ;
}

::view-transition-new(exemple) {
animation: 0.4s ease-in both ;
}